html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-container {
	max-width: 1200px;
}

#page {
    margin: 0 auto;
}

#logo {
    display: block;
    margin: 0 auto;
		padding-bottom: 5px;
}

#services {
    display: block;
    margin: 0 auto;
		padding-bottom: 5px;
}

header {
    background-color: white;
    width: 100%;
    height: 200px;
}

nav {
	background-color: #f39e7a;
	text-align: center;
}

nav ul {
	margin-top: -0.1em;
	padding-left: 0;
}

nav ul li {
	display: inline-block;
	margin: auto;
	padding: 1.5em 2.8em;
}

nav ul li a {
	color: white;
	text-decoration: none;
	text-align: center;
}

nav ul li a:hover {
	color: #b54e23;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
	padding-top: 1.5em;
    color: #404040;
    text-align: center;
}

h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.75em;
    padding: 1em 0.5em 0 0.5em;
    color: #06b1af;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
		padding-bottom: 1em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.45em;
		padding-top: 1em;
    color: #404040;
    text-align: center;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: white;
    text-align: center;
		padding-top: 1.5em;
}

h6  {
    font-family: "Roboto", sans-serif;
    font-size: 1.05em;
}

h7  {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

p  {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 180%;
}

/* home page */

.info {
	background-color: #f0efef;
	margin: auto;
	text-align: center;
	padding: 2em 0;
}

.col-1, .col-3 {
	display: inline-block;
}

.col-2 {
	display: inline-block;
	padding-left: 3em;
	padding-right: 3em;
}

.featured {
	background-color: white;
	margin: auto;
	text-align: center;
	color: black;
	padding: 1.5em 0;
}

.col-4, .col-5, .col-6, .col-7 {
	display: inline-block;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

section h6 a {
	text-decoration: none;
	color: #333333;
	border: 2px solid #333333;
    box-sizing: border-box;
	padding: 0.5em;
}

section p a:hover {
	text-decoration: none;
	color: #06b1af;
}

.quote {
	background-color: #f0efef;
	margin: auto;
	text-align: center;
	font-style: italic;
}

/* about page */

.about {
	background-color: #f0efef;
	margin-top: 3.4em;
	margin-bottom: -2.2em;
	text-align: center;
	padding-bottom: 2em;
}

.mission {
	text-align: center;
}

.mission-p {
	padding-left: 10em;
	padding-right: 10em;
}

/* services page */

.specials {
	text-align: center;
}

#js-rotating {
	color: #d20072;
}

#pricing {
	margin: auto;
}

/* contact page */

.contact {
	text-align: center;
}

.contact-p {
	padding-left: 10em;
	padding-right: 10em;
}

.socialmedia {
	display: inline-block;
	padding: 1.2em;
}
